.Header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: oswald;
    font-weight: 400;
    font-size: 18px;
}

.nameLogo{
    display:flex;
}

.name{
    height: 150px;
}

.logo{
    height: 150px;
}

.nav{
    display:flex;
    justify-content: space-around;
}

.home{
    padding-left: 10px;
    padding-right: 10px;
    color:#008037;
    cursor: pointer;
}

.about{
    padding-left: 10px;
    padding-right: 10px;
    color:#008037;
    cursor: pointer;
}

.menu{
    padding-left: 10px;
    padding-right: 10px;
    color:#008037;
    cursor: pointer;
}

.contact{
    padding-left: 10px;
    padding-right: 10px;
    color:#008037;
    cursor: pointer;
}

.review{
    padding-left: 10px;
    padding-right: 10px;
    color:#008037;
    cursor: pointer;
}