.Header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: oswald;
    font-weight: 400;
    font-size: 18px;
}

.nameLogo{
    display:flex;
}

.name{
    height: 150px;
}

.logo{
    height: 150px;
}

.nav{
    display:flex;
    justify-content: space-around;
}

.navl{
    display: none;
}

.home{
    padding-left: 10px;
    padding-right: 10px;
    color:#008037;
    cursor: pointer;
}

.about{
    padding-left: 10px;
    padding-right: 10px;
    color:#008037;
    cursor: pointer;
}

.menu{
    padding-left: 10px;
    padding-right: 10px;
    color:#008037;
    cursor: pointer;
}

.contact{
    padding-left: 10px;
    padding-right: 10px;
    color:#008037;
    cursor: pointer;
}

.review{
    padding-left: 10px;
    padding-right: 10px;
    color:#008037;
    cursor: pointer;
}

.ham{
    display:none;
}

@media (max-width: 805px){
    .ham{
        display: contents;
    }
    .nav{
        display: none;
    }
    .navl{
        display: inline;
        position: fixed;
        top:0;
        bottom:0;
        right:0;
        left:0;
        background-color: bisque;
        justify-items: center;
    }
}

@media (max-width: 520px){
    .name{
        height:70px;
    }
    .logo{
        height: 70px
    }
}