.homeb{
    background-color: #FFF8E1;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    font-family: "Noto Serif Devanagari";
    font-weight: 500;
    color: #2E7D32;
    font-size: x-large;
    border-bottom: 1px solid #DCCBAA;
}

.homePic{
    width: 100%;
    border: 1px solid black;
    border-radius: 12px;
}

.tag{
    align-items: center;
}

.bres{
    font-family: oswald;
    font-size: 18px;
    height: 32px;
    width: 200px;
    border-radius: 12px;
    color: white;
    background-color: #2E7D32;
    cursor: pointer;
}

@media (max-width:1054px){
    .homePic{
        width:80%;
    }
    .homeb{
        font-size: larger;
    }
    
}

@media (max-width: 520px){
    .homeb{
        display:grid;
    }
    .homePic{
        width: 100%
    }
    .tag{
        font-size: 18px;
    }
}
