.homeb{
    background: linear-gradient(to left, brown, lightgreen);
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}

.homePic{
    width: 100%;
}

.tag{
    align-items: center;
}