.menud{
    width: 50%;
    height: 430px;
    align-content: center;
    justify-items: center;
    border:solid;
    margin:10px;
}

.menuside{
    display: flex;
    height: 470px;
}

.dish{
    padding:10px;
    width: 282px;
    height: 350px;
}