.menupic{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.scrollb{
    width: 50px;
    color: #5C4B3B
}

.imgd{
    display: grid;
    width: 650px;
    height: 650px;
    background-color: white;
    border: 1px solid #DCCBAA;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.dname{
    justify-self: center;
    color: black;
    font-size: 18px;
}

.imag{
    width: 550px;
    height: 550px;
    border-radius: 20px;
    border:1px solid black;
}

.mainm{
    background-color: #FFF8E1;
    font-family: oswald;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #DCCBAA;
    padding-bottom: 10px;
}

.menuh{
    margin:0;
    color: #2E7D32;
    font-size: 32px;
    text-decoration: underline #2E7D32;
    margin-bottom: 10px;
}

.fmenu{
    margin:0;
    color: #2E7D32;
    font-size: 23px;
}

@media (max-width: 480px){
    .scrollb{
        width: 24px;
    }
    .imag{
        width: 170px;
        height: 150px;
    }
    .imgd{
        width: 250px;
        height: 250px;
    }
    .dname{
        font-size: 16px;
    }
    .fmenu{
        font-size: 18px;
    }
}

