.menupic{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.scrollb{
    width: 50px;
    color: #5C4B3B
}

.imgd{
    display: grid;
    width: 650px;
    height: 650px;
    background-color: #EF6C00;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.dname{
    justify-self: center;
    color: black;
    font-size: 18px;
}

.imag{
    width: 550px;
    height: 550px;
    border-radius: 20px;
}

.mainm{
    background-color: #FFF8E1;
    font-family: oswald;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #DCCBAA;
}

.menuh{
    margin:0;
    color: #2E7D32;
    font-size: 32px;
}

.fmenu{
    margin:0;
    color: #2E7D32;
    font-size: 23px;
}

